.payment__form {
  margin: 2rem 0rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  @include res-tablet {
    width: 35rem;
  }

  button {
    margin-top: 3rem;
    align-self: center;
  }

  &-sucess {
    color: $color-secondary;
    font-size: 1.4rem;
    margin-top: 2rem;
  }
}
