$color-primary: #004c45;
$color-secondary: #ff5100;
$color-tertiary: #fffbf5;

$color-black: #000;
$color-white: #fff;
$color-red: #d5303e;

$color-dark-grey: #18171c;
$color-light-grey: #d3d3d3;
$font-size-default: 1.6rem;

