*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//this desfines what 1rem is
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

}
a {
  text-decoration: none;
  color: $color-dark-grey;
}
